.navbar {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background-color: #3f3f3f;
  height: 100vh;
  font-size: 200%;
  width: 20rem;
  display: block;
}

.main-navigation__drawer-nav {
  height: 100%;
}

.navbut {
  background: transparent;
  border: none;
  z-index: 0;
}

.sidedraw {
  z-index: 1;
}

.navbut div {
  width: 50px;
  height: 10px;
  border-radius: 4px;
  background-color: #C58488;
  margin: 6px 0;
}